@model Star_Security_Services.Models.Data.Industries

@{
    ViewData["Title"] = "DetailsIndustry"; 
    Layout = "~/Views/Shared/_LayoutOfficials.cshtml";
}
<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Industry Details</h2>
    </div>
</div>



<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="public-user-block block">
            <div class="row d-flex align-items-center">
                <div class="col-lg-4 d-flex align-items-center">

                    <strong class="d-block"> @Html.DisplayNameFor(model => model.IndustryName)</strong>
                </div>
                <div class="col-lg-8 text-center">
                    <div class="contributions"> @Html.DisplayFor(model => model.IndustryName)</div>
                </div>

            </div>
        </div>

        <div class="public-user-block block">
            <div class="row d-flex align-items-center">
                <div class="col-lg-4 d-flex align-items-center">

                    <strong class="d-block"> @Html.DisplayNameFor(model => model.IndustryImage)</strong>
                </div>
                <div class="col-lg-8 ">
                    <div class="stats-with-chart-1 block">
                        <img src="~/images/@Html.DisplayFor(model => model.IndustryImage)" width="200px" height="200px">

                    </div>
                </div>
            </div>
        </div>
        </div>

        @*  Buttons *@
        <div class="public-user-block block">
            <div class="row d-flex align-items-center">
                <div class="col-lg-4 d-flex align-items-center">

                    <strong class="d-block">Actions</strong>
                </div>
                <div class="col-lg-8 text-center row megamenu-buttons ">
                    <div class="col-lg-2 col-md-4 col-lg-4"><a asp-action="DeleteIndustry" asp-route-id="@Model.IndustryId" class="d-block megamenu-button-link bg-danger text-light"><strong>Delete</strong></a></div>
                    <div class="col-lg-2 col-md-4 col-lg-4"><a asp-action="EditIndustry" asp-route-id="@Model.IndustryId" class="d-block megamenu-button-link bg-info text-light"><strong>Edit</strong></a></div>
                </div>

            </div>
        </div>
    </div>
</section>
@* <h1>DetailsIndustry</h1>

<div>
    <h4>Industries</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustryImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IndustryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
